<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div class="col-md-7">

			<form class="" action="{% url 'football:api' %}" method="POST">
					{% csrf_token %}
				<select name="league_id">
					<option value="109" > Spanish La Liga </option>
					<option value="62"> English Permier League </option>
				</select>

				<input type="date" name="from_date" value="">
				<input type="date" name="to_date" value="">

				<input type="submit" value="show data">
			</form>

		   <table>
		   	{% for match in match_data %}
				<tr>
		   		<td>{{match.home_team | safe }}</td>
					<td>{{match.home_team_score}}:{{match.away_team_score}}</td>
					<td>{{match.away_team | safe }}</td>

		   	</tr>
				{% endfor %}

		   </table>

		</div>
	</body>
</html>
