<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div class="col-md-7">

			<form class="" action="{% url 'football:match_data' %}" method="POST">
					{% csrf_token %}
				<label for="">Select League:</label>
				<select name="league_id">
					{% for league in competitions %}
					<option value="{{league.league_id}}"> {{league.league_name}} </option>
					{% endfor %}
				</select>
				<label for="">From Date:</label>
				<input type="date" name="from_date" value="">

				<label for="">End Date:</label>
				<input type="date" name="to_date" value="">

				<input type="submit" value="Show Matches ">
			</form>

		   <table>
		   	{% if match_data %}
				{% for match in match_data %}
					<tr>
						<td>{{match.home_team | safe }}</td>
						<td>{{match.home_team_score}}:{{match.away_team_score}}</td>
						<td>{{match.away_team | safe }}</td>
						{% if match.match_status %}
						<!--  have to write code when game is live-->
						<td>{{match.match_status}}</td>
						{% else %}
						<td>
							{{match.match_date}} <br>
							{{match.match_time}}
						</td>
						{% endif %}
						<td><button class="btn"><a href="/football/matches/{{match.match_id}}">Match Details</a></button></td>

					</tr>
				{% endfor %}

				{% else %}
				 <p>{{match_error.message }} Please select another date ranage!</p>

				{% endif %}
		   </table>

		</div>
	</body>
</html>
