<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div class="col-md-7">
		<h2 align="center">	{{match_info.match_hometeam_name | safe }} vs {{match_info.match_awayteam_name | safe }}</h2>

			<div id="overview">
			<b>Overview:</b>
			<p><a href="#">{{match_info.league_name}}</a>.{{match_info.match_date}} {{match_info.match_status}}</p>
			<p>{{match_info.match_hometeam_name | safe }}   {{match_info.match_hometeam_score}}    -    {{match_info.match_awayteam_score}}  {{match_info.match_awayteam_name | safe }}</p>
			<p>
				<ul style="list-style-type:none">
					{% for scorer in goalscorer %}
						<li>{{scorer.home_scorer | safe }}{{scorer.away_scorer | safe }} {{scorer.time}}</li>
					{% endfor %}
				</ul>
			</p>
			</div>
			<br>
			<hr>

			<div id="timeline">
				<b>Timeline:</b>

				<p>SECOND HALF: 45'</p>
				<p>HALF TIME:{{match_info.match_hometeam_name | safe }}   {{match_info.match_hometeam_halftime_score}}    -    {{match_info.match_awayteam_halftime_score}}  {{match_info.match_awayteam_name | safe }}</p>
				<p>KICK OFF:{{match_info.match_time}} </p>
				<!-- This data will be used to manipulate timeline data  -->
				<p><b>Goalscorer:</b>{{goalscorer}}</p>
				<p><b>Cards:</b>{{cards}}</p>
				<p><b>Lineup Home Substitutions:</b>{{lineup_home_substitutions}}</p>
				<p><b>Lineup Away Substitutions:</b>{{lineup_away_substitutions}}</p>

				<br>
				<hr>
			</div>

			<div id="linepus">

				<b>Lineups:</b>
				<p>{{match_info.match_hometeam_name | safe }}{{match_info.match_hometeam_system }}</p>
				<table>
					<tr>

					{% for linepus in lineup_home_starting %}

						<td>{{linepus.lineup_number}}{{linepus.lineup_player}}</td>
					{% if linepus.lineup_position == '1' %}
				</tr>
				<tr>
					{% elif linepus.lineup_position == match_home_row.one %}

				</tr>
				<tr>
					{% elif linepus.lineup_position == match_home_row.two %}
				</tr>
				<tr>

					{% endif %}

					{% endfor %}
				</tr>
				</table>
				-------------------------------------------------------
				<table>
					<tr>

					{% for linepus in lineup_away_starting %}

						<td>{{linepus.lineup_number}}{{linepus.lineup_player}}</td>

					{% if linepus.lineup_position == match_away_row.one %}

				</tr>
				<tr>
					{% elif linepus.lineup_position == match_away_row.two %}
				</tr>
				<tr>
					{% elif linepus.lineup_position == match_away_row.three %}
				</tr>
				<tr>

					{% endif %}

					{% endfor %}
				</tr>
				</table>
				
				<p>{{match_info.match_awayteam_name	 | safe }}{{match_info.match_awayteam_system }}</p>

				<div class="substitutes">

					<table>
						<tr>
							<th>{{match_info.match_hometeam_name}}</th>
							<th>SUBSTITUES</th>
							<th>{{match_info.match_awayteam_name | safe }}</th>
						</tr>


							{% if lineup_home_substitutes %}
							{% for subs in lineup_home_substitutes %}
							<tr>
							<td>{{subs.lineup_player}}</td>
							</tr>
							{% endfor %}
							{% endif %}
							<td></td>
							{% if lineup_away_substitutes %}
							{% for subs in lineup_away_substitutes %}
							<tr>
							<td>{{subs.lineup_player}}</td>
							</tr>
							{% endfor %}
							{% endif %}


					</table>

				</div>

				<div class="manager">

					<table>
						<tr>
							<th>{{match_info.match_hometeam_name}}</th>
							<th>MANAGER</th>
							<th>{{match_info.match_awayteam_name | safe }}</th>
						</tr>
						<tr>
							<td>{{home_manager.lineup_player}}</td>
							<td></td>
							<td>{{away_manager.lineup_player}}</td>
						</tr>
					</table>

				</div>
				<br>
				<hr>
			</div>



			<div id="stats">
				<b>Statistics:</b>
				{% if statistics %}
				<table>
				  <tr>
				    <th>{{match_info.match_hometeam_name}}</th>
				    <th>Team Stats</th>
				    <th>{{match_info.match_awayteam_name | safe }}</th>
				  </tr>
					{% for stats in statistics %}
				  <tr>
				    <td>{{stats.home}}</td>
				    <td>{{stats.type}}</td>
				    <td>{{stats.away}}</td>
				  </tr>
					{% endfor %}
				{% endif %}
				</table>


			</div>
		</div>
	</body>
</html>
